
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-dot-3:before { content: '\e804'; } /* '' */
.icon-coffee:before { content: '\e803'; } /* '' */
.icon-fork:before { content: '\e807'; } /* '' */
.icon-facebook-squared:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e805'; } /* '' */
.icon-megaphone:before { content: '\e806'; } /* '' */
.icon-truck:before { content: '\e802'; } /* '' */